.timeline {
    border-left: solid #b7bfc7;
    border-width: 3px;

    .timeline-date {
        color: #b7bfc7;

        font-size: 0.7em;
        font-weight: 300;

        margin-top: 9px;
        right: 5rem;
    }

    .title-container {
        display: flex; 
        align-items: center;

        .university-information {
            margin-left: 3rem; 

            span {
                margin: 0 0.25rem; 
            }
        }
    }

    .timeline-location {
        display: flex; 
        align-items: center;

        color: #b7bfc7;

        font-size: 0.7em;
        font-weight: 300;

        padding-top: 8px;
        margin: 0 0.5rem; 

        .location-icon  {
            color: #EA4335; 
            margin-right: 0.3rem;
        }
    }

    .timeline-text {
        color: #b7bfc7;

        font-size: 0.7em;
        font-weight: 200;

        margin: -1rem 3rem;

    }

    .icon-bubble {
        border-radius: 50%;
        background: #121212;
        width: 2.4rem;
        height: 2.4rem;

        z-index: 1;
    }
}