@import '../../variables.scss';


#cv {

    .card-text {
        color: #b7bfc7;
    
        font-size: 0.7em;
        font-weight: 200;
    
        // margin: -1rem 3rem;
    }

    .download-cv {
        /* Default link style */
        color: $secondaryTextColor;
        font-size: 0.75rem; 
        font-weight: 400;
        text-decoration: underline;


        background-clip: text;
        -webkit-background-clip: text;
        background-size: 100% 200%;
        background-image: linear-gradient(90deg, $secondaryTextColor, $secondaryTextColor);

        transition: color 0.2s ease-in-out, font-weight 0.2s ease-in-out, background-position 0.2s ease-in-out;

        &:hover {
            /* Hover link style */
            background-position: 100%;
            color: transparent;
            background-image: linear-gradient(90deg, #ff7170 2.34%, #ffe57f 100.78%);
            font-weight: 600;
            cursor: pointer;
        }
    }
    
    .cv-preview {
        width: 30%;
        max-width: 30%;
        top: 12%; 

        transition: all 0.4s ease-in-out;

        &:hover {
            transform: scale(1.05);
            
            cursor: pointer;
        }
    }


}

// SweetAlert Styling

.swal2-close {
    position: absolute;
    top: 0px; 
    right: 0px;
}

.cv-preview_alert-container {
    overflow-y: scroll;
    height: 600px;
    width: 100%;

    img {
        width: 90%;
    }
}

.swal2-container.swal2-center > .swal2-popup {
    width: 80%;
}

.swal2-html-container {
    // margin-top: 0 !important;
}
