:root {
	font-size: 28px;
}

html .text-bg-dark {
	background-color: #121212 !important;
}

html .text-bg-gray {
	background-color: #161b22 !important;
}

html .border-light {
	border-color: #30363d !important;
}

.memoji {
	top: 12rem;
	right: 3rem;
}

.mimoji-img {
	width: 15rem;
}


/* .text-gradient {
	background: linear-gradient(90deg, #4ca5ff 2.34%, #b673f8 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.text-gradient-orange {
	background: linear-gradient(90deg, #ff7170 2.34%, #ffe57f 100.78%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
} */

html .bg-gradient {
	background: linear-gradient(90deg, #4ca5ff 2.34%, #b673f8 100%);
	/* -webkit-background-clip: text; */
	/* -webkit-text-fill-color: transparent; */
}

.card-btn {
	display: inline-block;

	border: #fff solid 1px;
	border-radius: 6px;

	transition: all 0.2s ease-out;
}

.card-btn:hover {
	/* background: red;  */
	background: linear-gradient(90deg, #4ca5ff 2.34%, #b673f8 100%);

	color: #fff !important;
}

div.sticky-links {
	position: fixed;

	border: solid 1px #b7bfc7;
	border-radius: 1rem;

	width: 4.5rem;
	padding: 0.3em 0.2em;
	bottom: 1rem;
	right: 1rem;

	z-index: 1;
}

.sticky-link {
	text-decoration: none;
	color: #fff;

	transition: all 0.2s ease-out;
}

.sticky-link-github:hover {
	background: linear-gradient(90deg, #4ca5ff 2.34%, #b673f8 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

html .sticky-link-linkedin:hover {
	color: #00a0dc !important;
}

#skills i, #skills img, #skills svg {
	margin: 0 0.5rem;
	max-width: 3rem;
}

html p {
	font-size: 1em;
	font-weight: 200;
}



/* Education */

/* .timeline {
	border-left: solid #b7bfc7;
	border-width: 3px;
}

.timeline-date {
	color: #b7bfc7;

	font-size: 0.7em;
	font-weight: 300;

	right: 5rem;
}

.timeline-location {
	color: #b7bfc7;

	font-size: 0.7em;
	font-weight: 300;

	padding-top: 8px;
	left: 17rem;
}

.timeline-text {
	color: #b7bfc7;

	font-size: 0.7em;
	font-weight: 100;

	margin: -1rem 3rem;

}


.edu-bubble {
	border-radius: 50%;
	background: #121212;
	width: 2.4rem;
	height: 2.4rem;

	z-index: 1;
}

.edu-icon {
	position: absolute;
	color: #b7bfc7;
}

.read-more-btn {
	cursor: pointer;
	color: #b7bfc7;

	font-size: 0.75em;
	font-weight: 200;
} */


.github-icon {
	font-size: 1.2em;
	font-weight: 100;
}


/* .cv-preview {
	max-width: 30%;
	margin-top: 13rem;

	transition: all 0.4s ease-in-out;
}

.cv-preview:hover {
	transform: scale(1.05);

	cursor: pointer;
} */



.hidden {
	display: none;
}

/* html .swal2-modal {
	width: 80% !important;
	height: 120% !important;
} */