@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './variables.scss';

:root {
    font-size: 28px;
}

.App {
    font-family: 'Poppins', sans-serif;
    background-color: $mainColor;
}



.text-gradient {
    background: linear-gradient(90deg, #4ca5ff 2.34%, #b673f8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient-orange {
    background: linear-gradient(90deg, #ff7170 2.34%, #ffe57f 100.78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}